body {
	background-color: #1e1e1e;
	color: #C9C9C9;
	font-family: "Lato", sans-serif;
}

@media (min-width: 800px){
	#page-container {
	width:800px;
	margin-left: auto;
	margin-right: auto;
}
#page-container img {
    width: 800px;
}
}
#page-container img {
    width: 100%;
}
#mainpage-logo {
	width:100%;
}
hr {
	border-color: #413E3E;
	background-color: #413E3E; /* cross-browser compatibility reeee */
}
#footer {
	text-align:center;
	font-size:x-small;
}
a {
	color: #2796F3;
}
.censor {
	filter: blur(2.5px);
}
