body {
background-color:#000000;
}
.title {
	color: #FFFFFF;
	font-family: "Source Code Pro";font-weight:400;font-style:normal;
	font-size: 45px;
	margin-top: auto;
	margin-bottom: auto;
	text-shadow: 0 0 10px rgba(131,246,228,1);
}
.wowashadow {
	text-shadow: 0 0 10px rgba(131,246,228,1);
}
.pagetitle {
	color: #FFFFFF;
	font-family: "Source Code Pro";font-weight:400;font-style:normal;
	font-size: 45px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-shadow: 0 0 10px rgba(131,246,228,1);
	position:relative;
	top:-50px;
}
@keyframes pagetitletrans {
	0% {text-shadow: 0 0 10px rgba(131,246,228,1)};
	100% {text-shadow: 0 0 100px rgba(131,246,228,1)};
	
}
.pagetitle:hover {
	animation-name:pagetitletrans;
	animation-duration:0.5s;
}
.infobox {
	width: 50%;
	position: relative;
	border: 6px solid white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 50%;
	position: relative;
}
.ctext {
	font-family: "Source Code Pro";font-weight:400;font-style:normal;
	color: #FFFFFF;
	text-align: center;
}
.normaltext {
	font-family: "Source Code Pro";font-weight:400;font-style:normal;
	color: #FFFFFF;
	
}
.legalcrap {
	font-family: "Source Code Pro";font-weight:400;font-style:normal;
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 50%;
	position: relative;
}
#footer {
	top: 89%;
	width: 99%;
	background-color: #000000;
}
